<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}Livesmart test{% endblock %}</title>
  <meta name="description" content="Livesmart test">
  {% block extrahead %}{% endblock %}

</head>

<body>
  <div id="container">
    <h1>Test livesmart</h1><hr>
    <div style="float:right;">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}?next=/testlivesmart/">Logout</a>
        {% endif %}
    </div>
     {% block content %}{% endblock %}
  </div>
</body>
</html>
